.color_purple-1 {
  /* #5e42b0 */
  color: rgb(94, 66, 176);
}

.color_grey-h1 {
  /* #e7e7e7 */
  color: rgb(231, 231, 231);
}

.color_grey-h2 {
  /* #c1c1c1 */
  color: rgb(193, 193, 193);
}

.color-text {
  /* #000000 */
  color: rgb(0, 0, 0);
}

.color_text-1 {
  /* #ffffff */
  color: rgb(255, 255, 255);
}

.color_text-2 {
  /* #3d3d3d */
  color: rgb(61, 61, 61);
}

.color-text-3 {
  /* #a496ca */
  color: rgb(164, 150, 202);
}