body {
  min-width: 961px;
  max-width: 1920px;
}

.header {
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true");
  background-position: top center;
  padding: 2.34375vw 9.47916667vw 5.72916667vw 9.47916667vw;
}

.header_logo {
  height: 2.76041667vw;
}

.header_title {
  letter-spacing: 1px;
  margin-bottom: 11.4583333vw;
  margin-top: 15.1041667vw;
  width: max-content;
}

.header_title_1 {
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 4.6875vw;
}

.header_title_2 {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 4.6875vw;
  margin-left: 25vw;
}

.main_title {
  font-size: 4.16666667vw;
}

.header_download_apple {
  height: 4.0625vw;
  margin-right: 2.60416667vw;
  padding-left: 1.97916667vw;
  width: 16.1458333vw;
}

.header_download_google {
  height: 4.0625vw;
  width: 16.1458333vw;
  padding-left: 2.86458333vw;
}

.header_download_header, .header_download_title {
  font-size: 0.729166667vw;
}

.header_download_icon {
  height: 2.60416667vw;
  margin-right: 1.45833333vw;
}

.br {
  border-radius: 50vw;
}

.br:after {
  border-radius: 50vw;
}

.br_1 {
  border-radius: 1.77083333vw;
}
