/* Fonts input */

@font-face {
  font-family: OpenSans-Regular;
  src: url("https://github.com/NimbleFIsh/MQ/tree/master/fonts/OpenSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Regular-2;
  src: url("https://github.com/NimbleFIsh/MQ/tree/master/fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("https://github.com/NimbleFIsh/MQ/tree/master/fonts/OpenSans-Bold.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold-2;
  src: url("https://github.com/NimbleFIsh/MQ/tree/master/fonts/OpenSans-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Text-color classes */
.color_purple-1 {
  /* #0a0e34 */
  color: rgb(94, 66, 176);
}

.color_grey-h1 {
  /* #e7e7e7 */
  color: rgb(231, 231, 231);
}

.color_grey-h2 {
  /* #c1c1c1 */
  color: rgb(193, 193, 193);
}

.color-text {
  /* #000000 */
  color: rgb(0, 0, 0);
}

.color_text-1 {
  /* #ffffff */
  color: rgb(255, 255, 255);
}

.color_text-2 {
  /* #3d3d3d */
  color: rgb(61, 61, 61);
}

.color-text-3 {
  /* #a496ca */
  color: rgb(164, 150, 202);
}

/* Global classes */
.text-big {
  text-transform: uppercase;
}