@import "parts/640/header.css";
@import "parts/640/main.css";
@import "parts/640/aside.css";

@import "parts/640/colors.css";
@import "parts/640/other.css";

.download {
  margin-top: 26.875vw;
  margin-bottom: 25.625vw;
  display: flex;
  flex-direction: column;
  width: 87.5%;
}

.download_apple {
  justify-content: center;
  align-items: center;
  display: inherit;
  height: 11.25vw;
  margin-bottom: 3.75vw;
}

.download_google {
  justify-content: center;
  align-items: center;
  display: inherit;
  height: 11.25vw;
}

.header_title {
  display: flex;
  flex-direction: column;
  width: 87.5vw;
}

.header_title_1 {
  width: 65.625vw;
  font-size: 8.75vw;
  padding-bottom: 9.375vw;
}

.header_title_2 {
  width: 70.625vw;
  margin: auto;
  font-size: 8.75vw;
}