@import "parts/960/header.css";
@import "parts/960/main.css";
@import "parts/960/colors.css";
@import "parts/960/article.css";
@import "parts/960/footer.css";
@import "parts/960/other.css";

body {
  font-family: OpenSans-Regular, sans-serif;
}

main {

}

.athlets {
  height: 98.6979167vw;
}

.colors_athlets {
  position: absolute;
  width: 100%;
  height: 98.6979167vw;
}

.white_athlets {
  width: 100%;
  background-color: #fff;
  height: 44.53125vw;
}

.grey_athlets {
  width: 100%;
  background-color: #f5f4f9;
  height: 30.5989583vw;
}

.purple_athlets {
  width: 100%;
  background-color: #5e42b0;
  height: 23.4375vw;
}

.athlets_container {
  position: relative;
  z-index: 2;
  margin-left: 33.8541667vw;
  padding-top: 11.0677083vw;
  padding-left: 3.90625vw;
  padding-right: 3.90625vw;
  box-sizing: border-box;
}

.main_title {
  font-size: 10.416667vw;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 7.8125vw;
}

.athlets_connection {

}

.athlets_connection_header {
  display: flex;
  align-items: center;
}

.athlets_number_container, .players_number_container, .capabilities_app_number_container {
  display: flex;
  flex-direction: column;
  height: 3.25520833vw;
}

.athlets_number {

}

.athlets_number:after {
  content: '';
}

.athlets_title {
  text-transform: uppercase;
  color: #c1c1c1;
  font-size: 4.16666667vw;
}

.athlets_text {

}

.athlets_collaboration {

}

.athlets_collaboration_header {

}

.athlets_growth {

}

.athlets_growth_header {

}



.players {

}

.colors_players {
  position: absolute;
}

.white_players {
  background-color: #fff;
}

.grey_players {
  background-color: #f5f4f9;
}

.purple_players {
  background-color: #090c35;
}

.players_container {
  position: relative;
  z-index: 2;
  padding-left: 3.90625vw;
  padding-right: 3.90625vw;
  box-sizing: border-box;
}

.players_connection {

}

.players_connection_header {

}

.players_number_container {

}

.players_number {

}

.players_number:after {
  content: '';
}

.players_title {

}

.players_text {

}

.players_collaboration {

}

.players_collaboration_header {

}

.players_growth {

}

.players_growth_header {

}

.special_color_02 {

}

.special_color_03 {

}

.capabilities_app {

}

.capabilities_app_1 {

}

.capabilities_app_number_container {

}

.capabilities_app_number {

}

.capabilities_app_number:after {
  content: '';
}

.capabilities_app_title {

}

.capabilities_app_text {

}

.capabilities_app_2 {

}

.capabilities_app_3 {

}

.download_app {

}

.download_app_content {

}

.download_app_image_container {

}

.download_app_image {

}

.download_app_header {

}

.download_app_title {

}

.download {

}

.download_apple {

}

.download_icon {

}

.download_container {

}

.download_header {

}

.download_title {

}

.download_google {

}

.footer_logo {

}