@import "parts/960/header.css";
@import "parts/960/main.css";
@import "parts/960/article.css";
@import "parts/960/footer.css";

@import "parts/960/other.css";

.athlets_picture {
  position: absolute;
  width: 292px;
  top: 30px;
  left: -170px;
}

.athlets_picture_source {
  position: relative;
}

.athlets_picture_image {
  position: relative;
  width: 160%;
}

.players_picture {
  position: absolute;
  width: 430px;
  top: -30px;
  right: 0;
}

.players_picture_image {
  position: relative;
}