.athlets {

}

.athlets_container {
  position: relative;
  z-index: 2;
  padding-top: 10.41661vw;
  padding-left: 33.8541667vw;

  padding-right: 3.90625vw;
  box-sizing: border-box;
}

.main_title {
  font-size: 10.416667vw;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 7.8125vw;
}

.athlets_connection {
  line-height: 20px;
  padding-bottom: 2vw;
  letter-spacing: 1.4px;
}

.athlets_connection_header {
  letter-spacing: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 3.25520833vw;
}

.athlets_number_container, .players_number_container, .capabilities_app_number_container {
  display: flex;
  flex-direction: column;
  height: 3.25520833vw;
  margin-right: 1.04166667vw;
}

.athlets_number {
  font-weight: bold;
  font-size: 2.34375vw;
}

.athlets_number:after {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 2.21354167vw;
  height: 0.52083333vw;
  position: absolute;
  z-index: 1;

  margin-top: 0.260416667vw;
  border-radius: 6.51041667vw;
  background-color: #5e42b0;
}

.athlets_number_special:after, .players_number_special:after {
  background-color: #fff;
}

.athlets_title {
  text-transform: uppercase;
  color: #c1c1c1;
  font-size: 4.16666667vw;
  height: 3.90625vw;
}

.athlets_text {
  letter-spacing: 2px;
  font-size: 2.08333333vw;
}

.athlets_collaboration {
  letter-spacing: 1px;
  line-height: 20px;
  box-sizing: border-box;
  padding-top: 5.20833333vw;
  padding-bottom: 6.9vw;
}

.athlets_collaboration_header {
  display: flex;
  line-height: normal;
  align-items: center;
  margin-bottom: 4.16666667vw;
}

.athlets_growth {
  padding-top: 5.20833333vw;
  letter-spacing: 1px;
  line-height: 20px;
  box-sizing: border-box;
  padding-bottom: 4.94791667vw;
}

.athlets_growth_header {
  display: flex;
  line-height: normal;
  align-items: center;
  margin-bottom: 4.16666667vw;
}

.athlets_text_special {
  color: #fff;
}

/* PLAYERS */

.players {

}

.players_container {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding-top: 11.0677083vw;
  padding-left: 3.90625vw;
  padding-right: 3.90625vw;
}

.players_container_title {
  height: 7.55208333vw;
  margin-bottom: 8.2vw;;
}

.players_connection {
  width: 48vw;
  height: 21.3vw;
  box-sizing: border-box;
  padding-bottom: 5.20833333vw;
}

.players_connection_header {
  display: flex;
  align-items: center;
  margin-bottom: 3.90625vw;
}

.players_number_container {
  display: flex;
  flex-direction: column;
}

.players_number {
  font-weight: bold;
}

.players_number:after {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 2.21354167vw;
  height: 0.52083333vw;
  position: absolute;
  z-index: 1;

  margin-top: 0.260416667vw;
  border-radius: 6.51041667vw;
  background-color: #5e42b0;
}

.players_number_special:after {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 2.21354167vw;
  height: 0.52083333vw;
  position: absolute;
  z-index: 1;

  margin-top: 0.260416667vw;
  border-radius: 6.51041667vw;
  background-color: #fff;
}

.players_title {
  text-transform: uppercase;
  color: #c1c1c1;
  letter-spacing: 1px;
  font-size: 4.16666667vw;
}

.players_text {
  font-size: 2.08333333vw;
  line-height: 22px;
  letter-spacing: 0.8px;
  font-size: 2.08333333vw;
}

.players_collaboration {
  width: 48vw;
  padding-top: 5.46875vw;
  box-sizing: border-box;
  letter-spacing: 0.6px;
  padding-bottom: 3.3vw;
}

.players_collaboration_header {
  display: flex;
  align-items: center;
  margin-bottom: 4.16666667vw;
}

.players_growth {
  width: 48vw;
  box-sizing: border-box;
  padding-top: 5.46875vw;
  padding-bottom: 3.3vw;
}

.players_growth_header {
  display: flex;
  align-items: center;
  margin-bottom: 3.90625vw;
}