body {
  font-family: OpenSans-Regular, sans-serif;
}

.special_color_01 {
  color: #fff;
  letter-spacing: 1px;
}

.special_color_02 {
  color: #8261d6;
}

.athlets_text_special_1, .athlets_text_special  {
  height: 40px;
}

.athlets_text_special {
  letter-spacing: 1px;
}


.athlets_text_special_2 {
  height: 80px;
  line-height: 20px;
}

.athlets_picture {
  position: absolute;
  width: 292px;
  top: 30px;
  left: -170px;
}

.athlets_picture_source {
  position: relative;
}

.athlets_picture_image {
  position: relative;
  width: 160%;
}

.players_picture {
  position: absolute;
  width: 430px;
  top: -30px;
  right: 0;
}

.players_picture_image {
  position: relative;
}