body {
  min-width: 320px;
}

.main_title {
  font-size: 15.625vw;
}

.br {
  border-radius: 15.625vw;
}

.br:after {
  border-radius: 15.625vw;
  height: 0.9vw;
  margin-top: 0.3125vw;
}

.br_1 {
  border-radius: 6.25vw;
}
