.capabilities_app {
  display: flex;
  flex-direction: column;
}

.capabilities_app_1 {
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  box-sizing: border-box;
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/be-active_1024.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 50vw;
  padding-left: 45.625vw;
  padding-top: 10.9895833vw;
  padding-bottom: 7.5vw;
  padding-right: 12.3130208vw;
}

.capabilities_app_number_container {
  margin-right: 3.125vw;
  width: 8.02083333vw;
  height: 8.02083333vw;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capabilities_app_number {
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25vw;
}

.capabilities_app_number:after {
  content: '';
  position: relative;

  top: 3px;  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 50vw;
  height: 0.208333333vw;
  width: 1.4vw;
  background-color: #8f7bc8;
}

.capabilities_app_title {
  box-sizing: border-box;
  height: 8.02083333vw;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 4.16666667vw;
  margin-bottom: 3.90625vw;
}

.capabilities_app_text {
  margin-left: 11.0416667vw;
  font-size: 1.25vw;
  width: 31.020833vw;
  letter-spacing: 1px;
}

.capabilities_app_2 {
  box-sizing: border-box;
  padding-top: 10.9895833vw;
  padding-left: 9.375vw;
  padding-bottom: 12.2vw;

  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/find-contact_1024.jpg?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.special_app_number_container {
  position: absolute;
  margin-left: 36.25vw;
}

.special_app_text {
  margin: 0;
  width: 33.020833vw;
}

.capabilities_app_3 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  padding-top: 10.9895833vw;
  padding-left: 45.625vw;
  padding-bottom: 10.7vw;
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/work-it_1024.jpg?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
}

.special_app_text_01 {
  width: 32.020833vw;
}
