.header {
  padding-left: 9.47916667vw;
  padding-right: 9.47916667vw;
  padding-top: 2.34375vw;
  padding-bottom: 5.72916667vw;
  box-sizing: border-box;

  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_logo_a {
  height: 2.76041667vw;
}

.header_logo {
  height: 2.76041667vw;
}

.header_title {
  margin-top: 15.1041667vw;
  letter-spacing: 1px;
  margin-bottom: 11.4583333vw;
}

.header_title_1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 4.6875vw;
  font-family: OpenSans-Bold, sans-serif;
}

.special_dk_t1 {
  box-sizing: border-box;
  display: flex;
  padding-left: 30vw;
}

.header_title_2 {
  margin-left: 21vw;
  text-transform: uppercase;
  word-break: break-all;
  color: #fff;
  font-size: 4.6875vw;
  font-family: OpenSans-Bold, sans-serif;
}

.special_dk_t2 {
  margin: 0;
}

.header_download {
  display: flex;
}

.header_download_apple {
  box-sizing: border-box;
  height: 4.0625vw;
  width: 16.1458333vw;
  margin-right: 2.60416667vw;
  padding-left: 1.97916667vw
}

.background_button {
  display: flex;
  align-items: center;
}

.header_download_icon {
  height: 2.60416667vw;
  margin-right: 1.45833333vw;
}

.header_download_container {
  display: flex;
  flex-direction: column;
}

.header_download_header {
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  font-size: 0.729166667vw;
}

.header_download_title {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 0.729166667vw;
}

.header_download_google {
  box-sizing: border-box;
  height: 4.0625vw;
  width: 16.1458333vw;
  padding-left: 2.86458333vw;
}
