.header {
  height: 50vw;
  background-image: url(https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header::after {
  content: '';
  position: absolute;
  height: 50vw;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.9;
  background-color: #0a0e34
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  z-index: 2;
  align-items: center;
}

.header_logo {
  display: inherit;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.34375vw;
}

.header_logo_svg {
  width: 10.3125vw;
}

.header_title {
  display: inherit;
  width: 79.7395833vw;
  height: 35.1041667vw;
  flex-direction: column;

  justify-content: center;
}

.header_title_1 {
  font-family: OpenSans-Bold, sans-serif;
  width: inherit;
  text-transform: uppercase;
  display: inherit;
  justify-content: flex-start;
  font-size: 4.6875vw;
}

.header_title_2 {
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  width: inherit;
  display: inherit;
  justify-content: flex-end;
  font-size: 4.6875vw;
}

.header_app {
  display: inherit;
  height: 3.95833333vw;
  margin-bottom: 5.72916667vw;
  width: 35.15625vw;
}

.header_app_apple {
  margin-right: 2.60416667vw;
  padding-left: 2.08333333vw;
}

.header_app_google {
  padding-left: 3.125vw;
}

.header_app_apple, .header_app_google {
  background-color: #5e42b0;
  border-radius: 2.60416667vw;
  display: inherit;
  align-items: center;
  width: 16.1458333vw;
}

.header_app_logo {
  width: 2.60416667vw;
}

.header_app_text_container {
  text-transform: uppercase;
  padding-left: 1.35416667vw;
  color: #ffffff;
}

.header_app_title {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.729166667vw;
  font-weight: normal;
}

.header_app_text {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.729166667vw;
}