.header {
  padding-left: 9.47916667vw;
  padding-right: 9.47916667vw;
  padding-top: 2.34375vw;
  box-sizing: border-box;

  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_logo_a {
  height: 2.76041667vw;
}

.header_logo {
  height: 2.76041667vw;
}

.header_title {
  margin-top: 15.1041667vw;
  letter-spacing: 1px;
  margin-bottom: 2.86458333vw;
}

.header_title_1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 4.6875vw;
  font-family: OpenSans-Bold, sans-serif;
}

.special_dk_t1 {
  box-sizing: border-box;
  padding-left: 30vw;
}

.header_title_2 {
  margin-left: 1vw;
  text-transform: uppercase;
  color: #fff;
  font-size: 4.6875vw;
  font-family: OpenSans-Bold, sans-serif;
}

.special_dk_t2 {
  margin: 0;
}

.header_download {
  display: flex;
}

.header_download_apple {
  height: 4.0625vw;
  width: 16.1458333vw;
  margin-right: 2.60416667vw;
  padding-left: 1.97916667vw
}

.background_button {

}

.header_download_icon {
  height: 2.60416667vw;
}

.header_download_container {

}

.header_download_header {

}

.header_download_title {

}

.header_download_google {
  height: 4.0625vw;
  width: 16.1458333vw;
}
