.special_color_02 {

}

.special_color_03 {

}

.athlets_picture {
  position: absolute;
  top: 58.291667vw;
  left: 20.8333333vw;
}

.athlets_picture_image {
  position: absolute;
  width: 29.4791667vw;
}

.players_picture {
  position: absolute;
}

.players_picture_image {
  position: absolute;
}
