.special_color_01 {
    color: #fff;
}

.special_color_02 {
  color: #866ad6;
}

.athlets_picture {
  position: absolute;
  top: 58.291667vw;
  left: 20.8333333vw;
}

.athlets_picture_image {
  position: absolute;
  width: 29.4791667vw;
}

.players_picture {
  position: absolute;
  top: 106.770833vw;
  right: 58.3333333vw;
}

.players_picture_image {
  position: absolute;
  width: 51.6145833vw;
}
