.capabilities_app_1, .capabilities_app_2, .capabilities_app_3 {
  display: block;
  flex-direction: column;
}
.capabilities_app_container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 5vw;
  padding-bottom: 7vw;
  z-index: 2;
}

.capabilities_app_number {
  font-size: 3.125vw;
}

.capabilities_app_number_container {
  height: 14.9739583vw;
  /* margin-bottom: 6.77083333vw; */
  width: 14.9739583vw;
  position: relative;
  top: -12vw;
}

.capabilities_app_text {
  font-size: 3.125vw;
  letter-spacing: 1.6px;
}

.capabilities_app_title {
  justify-content: flex-start;
  font-size: 10.4166667vw;
  margin-bottom: 4.94791667vw;
}

/* .capabilities_app_image {
  width: 50%;
} */
