.download_app {
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/game_1280.jpg?raw=true");
}

.download_app_content {
  align-items: center;
  display: flex;
  height: 130vw;
  justify-content: space-between;
  padding-bottom: 5vw;
  padding-top: 15.625vw;
}

.download_app_content_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20vw;
}

.download_app_header {
  font-size: 10.4166667vw;
  letter-spacing: 3px;
}

.download_app_image {
  width: 13.671875vw;
}

.download_app_image_container {
  height: 17.7083333vw;
  margin-bottom: 10.4166667vw;
  width: 17.7083333vw;
}

.download_app_title {
  font-size: 4.6875vw;
  letter-spacing: 0;
}

.download_apple {
  height: 9.765625vw;
  margin-right: 3.64583333vw;
  padding-left: 6.0956098vw;
  width: 40.3645833vw;
}

.download_google {
  height: 9.765625vw;
  padding-left: 7.16145833vw;
  width: 40.3645833vw;
}

.download_header {
  font-size: 1.8229667vw;
  letter-spacing: 1px;
}

.download_icon {
  height: 6.51041667vw;
  margin-right: 3.25520833vw;
}

.download_title {
  font-size: 1.8229667vw;
  letter-spacing: 1px;
}

.footer_logo {
  height: 7.55208333vw;
}
