.header {
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_1280.jpg?raw=true");
  background-position: center center;
}

.header_container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding: 4.6875vw 3.90625vw 11.71875vw 3.90625vw;
}

.header_download_apple {
  height: 10.15625vw;
  margin-right: 3.90625vw;
  padding-left: 5.20833333vw;
}

.header_download_apple, .header_download_google {
  width: 40.625vw;
}

.header_download_google {
  height: 10.15625vw;
  padding-left: 7.55208333vw;
}

.header_download_header, .header_download_title {
  font-size: 1.82291667vw;
}

.header_download_icon {
  height: 5.859375vw;
  margin-right: 3.125vw;
}

.header_logo {
  height: 7.55208333vw;
}

.header_title {
  height: 27.0833333vw;
  width: 81.25vw;
}

.header_title_1 {
  display: flex;
  flex-direction: column;
  font-size: 8.72395833vw;
}

.header_title_2 {
  font-size: 8.72395833vw;
  padding-left: 14.3229167vw;
}
