.main_title {
  font-size: 10.416667vw;
  margin-bottom: 7.8125vw;
}

.br {
  border-radius: 6.51041667vw;
}

.br:after {
  border-radius: 6.51041667vw;
  height: 0.52083333vw;
  margin-top: 0.260416667vw;
}

.br_1 {
  border-radius: 5vw;
}

.athlets_number_container, .players_number_container, .capabilities_app_number_container {
  height: 3.25520833vw;
  margin-right: 1.04166667vw;
}
.athlets_text_special_1, .athlets_text_special  {
  height: 40px;
}

.athlets_text_special_2 {
  height: 80px;
  line-height: 20px;
}
