
.download_app {
  padding-bottom: 5px;
  box-sizing: border-box;

  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/game_767.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}

.download_app:after {
  content: '';
  height: 104.3%;
  position: absolute;

  top: 1318vw;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #0a0e34;
  opacity: 0.9;
}

.download_app_content {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  text-transform: uppercase;
  margin-left: 6.25vw;
  margin-right: 6.25vw;
  padding-top: 30.625vw;
}

.download_app_image_container {
  margin-left: 32.5vw;
  margin-right: 32.5vw;
  margin-bottom: 17.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.875vw;
  height: 22.5vw;
  background-color: #5737a7;
  border-radius: 6.25vw;
}


.download_app_image {
  height: 15vw;
}

.download {
  color: #fff;
  text-transform: uppercase;
  margin-top: 22.8125vw;
  margin-bottom: 27.1875vw;
  display: flex;
  flex-direction: column;
}

.download_apple {
  padding-left: 25vw;
  align-items: center;
  display: inherit;
  height: 10.625vw;
  margin-bottom: 3.125vw;
}

.download_google {
  padding-left: 25vw;
  align-items: center;
  display: inherit;
  height: 10.625vw;
}

.footer_logo {
  margin-left: 22.8125vw;
  margin-right: 22.8125vw;
  height: 11.875vw;
}

.download_app_header {
  font-size: 10vw;
  letter-spacing: 1px;
  color: #ffffff;
}

.download_app_title {
  font-size: 4.375vw;
  color: #9b8dc3;
}

.download_icon {
  height: 7.5vw;
  margin-right: 2.5vw;
}

.download_header {
  font-family: OpenSans-Regular-2, sans-serif;
  font-weight: normal;
  font-size: 2.5vw;
  letter-spacing: 1px;
}

.download_title {
  font-family: OpenSans-Bold-2, sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
}

.download_container {
  display: flex;
  flex-direction: column;
}
