.header {
  box-sizing: border-box;
  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_767.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25.625vw;
}

.header_container {
  padding-top: 9.375vw;
}

.header_logo {
  margin-bottom: 30vw;
  height: 11.875vw;
}

.header_title {
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
}

.header_title_1 {
  font-size: 8.75vw;
  padding-bottom: 9.375vw;
}

.header_title_2 {
  padding-left: 13.75vw;
}

.header_download {
  text-transform: uppercase;
  color: #fff;
  margin-top: 26.875vw;
  display: flex;
  flex-direction: column;
  width: 87.5%;
}

.header_download_container {
  display: flex;
  flex-direction: column;
}

.header_download_apple {
  padding-left: 25vw;
  align-items: center;
  display: inherit;
  height: 11.25vw;
  margin-bottom: 3.75vw;
}

.header_download_google {
  padding-left: 26.5vw;
  align-items: center;
  display: inherit;
  height: 11.25vw;
}