/* <header> */

body {
  min-width: 320px;
}

.header_download_icon {
  height: 7.5vw;
  margin-right: 2.5vw;
}

.header_download_header {
  font-family: OpenSans-Regular-2, sans-serif;
  font-weight: normal;
  font-size: 2.5vw;
}

.header_download_title {
  font-family: OpenSans-Bold-2, sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
}

/* </header> */

/* <main> */
.main_title {
  text-transform: uppercase;
  color: #e7e7e7;
  font-family: OpenSans-Bold-2, sans-serif;
  font-size: 15.625vw;
}

.athlets_number_container, .players_number_container {
  display: flex;
  flex-direction: column;
}

.athlets_number, .players_number {
  height: 5.625vw;
  font-weight: bold;
  font-size: 4.375vw;
  margin-right: 2.8125vw;
}

.athlets_number, .players_number, .capabilities_app_number {
  display: flex;
  flex-direction: column;
}

.athlets_number:after, .players_number:after, .capabilities_app_number:after {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 17px;
  height: 4px;
  position: absolute;
  z-index: 1;

  border-radius: 50px;
  background-color: #8f78ca;
  margin-top: 18px;
}

.athlets_number_special:after, .players_number_special:after {
  background-color: #fff;
}

.athlets_title, .players_title {
  text-transform: uppercase;
  font-size: 7.1875vw;
  color: #c1c1c1;
}

.athlets_text, .players_text {
  font-size: 4.6875vw;
}

.players_connection_header, .players_collaboration_header, .players_growth_header {
  display: flex;
  padding-bottom: 8.75vw;
}

.special_color_02 {
  color: #8760e0;
}

.special_color_01 {
  color: #fff;
}

.athlets_text_special {
  color: #fff;
}
/* </main> */

.athlets_picture {
  position: relative;
  display: flex;
  justify-content: center;
}

.athlets_picture_image {
  position: relative;
  top: 50px;
}

.players_picture {
  position: relative;
  display: flex;
  justify-content: center;
}

.players_picture_image {
  position: relative;
  top: 25px;
}
