@font-face {
  font-family: OpenSans-Regular;
  src: "fonts/OpenSans-Regular.woff";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: OpenSans-Regular-2;
  src: "fonts/OpenSans-Regular.woff2";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: "fonts/OpenSans-Bold.woff";
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: OpenSans-Bold-2;
  src: "fonts/OpenSans-Bold.woff2";
  font-style: normal;
  font-weight: bold;
}

body {
  font-family: OpenSans-Regular, sans-serif;
}
