.main_title {
  font-size: 4.16666667vw;
}

.br {
  border-radius: 50vw;
}

.br:after {
  border-radius: 50vw;
  height: 0.27vw;
  margin-top: 0.104166667vw;
}

.br_1 {
  border-radius: 1.77083333vw;
}
