.main_title {
  font-size: 4.16666667vw;
}

.br {
  border-radius: 50vw;
}

.br:after {
  border-radius: 50vw;
  height: 0.27vw;
  margin-top: 0.104166667vw;
}

.br_1 {
  border-radius: 1.77083333vw;
}

.special_app_number_container {
  left: 45vw;
}

.cpa_3 > p {
  width: 33vw;
}

.special_dk_t1 {
  box-sizing: border-box;
  display: flex;
  padding-left: 30vw;
}

.special_dk_t2 {
  margin: 0;
}

.special_app_text {
  margin-left: 2.041667vw;
}

.cpa_2 > h2 {
  align-items: center;
  font-size: 4.16666667vw;
  height: 8.02083333vw;
  /* margin-bottom: 3.90625vw; */
  top: 9vw;
  margin-left: 5.041667vw;
  position: relative;
}

.cpa_2 > div {
  position: absolute;
}

.cpa_2 > p {
  margin-left: 2.041667vw;
  margin-bottom: 0;
  width: 33vw;
}
