@import "parts/header.css";


.main {
  height: 46.1458333vw;
  width: 100vw;
}

.athlets_padding {
  padding-right: 9.375vw;
  padding-left: 9.375vw;
}

.athlets_content-1 {
  height: 21.6145833vw;
  width: 100vw;
  background-color: #ffffff;
  padding-top: 5.67708333vw;
}

.athlets_content-2 {
  height: 12.96875vw;
  width: 100vw;
  background-color: #f6f4fa;

  padding-top: 3.17708333vw;
}

.athlets_content-3 {
  height: 11.5625vw;
  width: 100vw;
  background-color: #5e42b0;

  padding-top: 3.17708333vw;
}

.athlets {
  displaY: flex;
  flex-direction: column;
}

.athlets_content {
  display: flex;
  justify-content: flex-end;
}

.athlets::after {
  content: '';
  background-image: url(https://github.com/NimbleFIsh/MQ/blob/master/img/footballer_566.png?raw=true);
  background-repeat: no-repeat;
  background-size: contain;
}

.athlets_container {
  width: 37.1875vw;
  display: flex;
  flex-direction: column;
}

.athlets_title {
  text-transform: uppercase;
  font-family: OpenSans-Bold, sans-serif;
  font-weight: bold;
  font-size: 4.16666667vw;
  color: #e7e7e7;
  margin-top: 5.9895333vw;
}

.athlets_number {

}

.athlets-title {
  text-transform: uppercase;
  color: #c1c1c1;
}

.athlets_text {

}