.header {
  width: 100%;
  height: 50vw;

  padding-left: 9.47916667vw;
  padding-right: 9.47916667vw;
  padding-top: 2.34375vw;
  box-sizing: border-box;

  background-image: url("https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 50vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #0a0e34;
  opacity: 0.9;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: 50vw;
  z-index: 1;
}

.header_logo {
  height: 2.76041667vw;
  margin-bottom: 15.1041667vw;
}

.header_title {

}

.header_title_1 {

}

.header_title_2 {

}

.header_download {

}

.header_download_apple {

}

.background_button {

}

.header_download_icon {

}

.header_download_container {

}

.header_download_header {

}

.header_download_title {

}

.header_download_google {

}

main {

}

.athlets {

}

.colors_athlets {

}

.white_athlets {

}

.grey_athlets {

}

.dark_grey_athlets {

}

.purple_athlets {

}

.athlets_container {

}

.main_title {

}

.athlets_connection {

}

.athlets_connection_header {

}

.athlets_number_container {

}

.athlets_number {

}

.athlets_number_line {

}

.athlets_title {

}

.athlets_text {

}

.athlets_collaboration {

}

.athlets_collaboration_header {

}

.athlets_growth {

}

.athlets_growth_header {

}

.players {

}

.colors_players {

}

.white_players {

}

.grey_players {

}

.dark_grey_players {

}

.purple_players {

}

.players_container {

}

.players_connection {

}

.players_connection_header {

}

.players_number_container {

}

.players_number {

}

.players_number_line {

}

.players_title {

}

.players_text {

}

.players_collaboration {

}

.players_collaboration_header {

}

.players_growth {

}

.players_growth_header {

}

.special_color_02 {

}

.special_color_03 {

}

.capabilities_app {

}

.capabilities_app_1 {

}

.capabilities_app_number_container {

}

.capabilities_app_number {

}

.capabilities_app_number_line {

}

.capabilities_app_title {

}

.capabilities_app_text {

}

.capabilities_app_2 {

}

.capabilities_app_3 {

}

.download_app {

}

.download_app_content {

}

.download_app_image_container {

}

.download_app_image {

}

.download_app_header {

}

.download_app_title {

}

.download {

}

.download_apple {

}

.download_icon {

}

.download_container {

}

.download_header {

}

.download_title {

}

.download_google {

}

.footer_logo {

}