body {
  margin: 0;
}

.header {
  width: 100%;
  height: 957px;

  background-image: url(https://github.com/NimbleFIsh/MQ/blob/master/img/football_1920.jpg?raw=true);
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;

  padding-top: 43px;
  padding-bottom: 67px;
}

.header:before {
  content: '';

}

.main_header {
  display: flex;
  justify-content: center;
}

.main_header_logo {
  margin-bottom: 16px;
  height: 24px;
  width: 78px;
}

.main_title {
  display: flex;
  width: 100%;
  justify-content: center;

  padding-top: 295px;
  padding-bottom: 220px;
}

.main_title_text_container {
  font-family: OpenSans-Bold, sans-serif;

  height: 159px;
  display: inherit;
  flex-direction: column;
  width: 79.7395833%;
  font-size: 4.6875vw;
}

.left {
  display: inherit;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 27px;
  font-size: inherit;
}

.right {
  display: inherit;
  justify-content: flex-end;
  margin: 0;
  font-size: inherit;
}